<footer class="footer">
	<div class="container">
		<nav class="float-left">
			<ul>
				<li>
					<a href="#">
					Inicio
					</a>
				</li>
				<li>
					<a href="#/privacy">
					Aviso de Privacidad
					</a>
				</li>
				<li>
					<a href="#">
					Servicios
					</a>
				</li>
				<!-- <li>
					<a href="#">
					Blog
					</a>
				</li> -->
			</ul>
		</nav>
		<div class="copyright float-right">
			&copy; 2020 <a href="https://www.aclsystems.mx">ACL Systems S.A. de C.V.</a>
		</div>
		<div class="social-area float-right">
			<a href="https://www.facebook.com/ComoIniciarmiNegocio/" class="btn btn-social btn-facebook btn-simple" target="_blank">
			<i class="fab fa-facebook-square fa-2x" style="color: #3B5998;"></i>
			</a>
			<a href="https://m.me/aclsystemsmx" class="btn btn-social btn-facebook btn-simple" target="_blank">
			<i class="fab fa-facebook-messenger fa-2x" style="color: #3B5998;"></i>
			</a>
			<a href="https://wa.link/djd7t5" target="_blank" class="btn btn-social btn-simple">
			<i class="fab fa-whatsapp-square fa-2x" style="color: #25D366;"></i>
			</a>
			<!-- <a href="https://www.youtube.com/channel/UCIclU0B1zGmgOuwY54xbpzA?view_as=subscriber" target="_blank" class="btn btn-social btn-simple">
			<i class="fab fa-youtube fa-2x" style="color: red;"></i>
			</a>
			<a href="https://twitter.com/MscAmilcar?s=20" target="_blank" class="btn btn-social btn-simple">
			<i class="fab fa-twitter fa-2x" style="color: #00ACEE;"></i>
			</a>
			<a href="https://www.instagram.com/mscamilcar/" target="_blank" class="btn btn-social btn-simple">
			<i class="fab fa-instagram fa-2x" style="color: #3f729b;"></i>
			</a> -->
		</div>
	</div>
</footer>
