<footer class="footer">
		<div class="container">
				<nav class="float-left">
						<ul>
								<li>
										<a href="#">
										Inicio
										</a>
								</li>
								<li>
										<a href="#">
										Quién es Amilcar Bravo
										</a>
								</li>
								<li>
										<a href="#">
										Servicios
										</a>
								</li>
								<li>
										<a href="#">
										Blog
										</a>
								</li>
						</ul>
				</nav>
				<div class="copyright float-right">
						&copy; 2020 <a href="https://www.aclsystems.mx">ACL Systems</a>
				</div>
				<div class="social-area float-right">
						<a href="https://www.facebook.com/ComoIniciarmiNegocio/" class="btn btn-social btn-facebook btn-simple" target="_blank">
						<i class="fab fa-facebook-square fa-2x" style="color: #3B5998;"></i>
						</a>
						<a href="https://m.me/aclsystemsmx" class="btn btn-social btn-facebook btn-simple" target="_blank">
						<i class="fab fa-facebook-messenger fa-2x" style="color: #3B5998;"></i>
						</a>
						<a class="btn btn-social btn-simple">
						<i class="fab fa-whatsapp-square fa-2x" style="color: #25D366;"></i>
						</a>
				</div>
				<!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v8.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
			</script>
      <!-- Your Chat Plugin code -->
      <div class="fb-customerchat"
      	attribution=setup_tool
      	page_id="509438935745072"
  			theme_color="#1fa686"
  			logged_in_greeting="Hola. Estamos para servirte. ¿Qué podemos hacer hoy por ti?"
  			logged_out_greeting="Gracias por comunicarte con nosotros">
      </div>
		</div>
</footer>
