<div class="wrapper">
		<div class="parallax filter-gradient orange" data-color="blue">
				<div class="parallax-background">
						<img class="parallax-background-image" src="assets/img/template/bg1.jpg">
				</div>
				<div class= "container">
						<div class="row">
							<div class="col-md-6 hidden-xs">
									<div class="parallax-image m-3 mt-5">
										<img class="pointme" src="assets/img/cimn_lanzamiento.jpeg" style="margin-top: 20px"
										(click)="goCIMN();">
									</div>
							</div>
							<div class="col-md-6">
									<div class="description m-3 mt-5">
										<br />
										<h5>Te comparto con gran satisfacción y orgullo el lanzamiento de mi primer libro:</h5><h2>Emprendedor Audaz</h2><h5>para emprender y alcanzar la libertad.</h5>
										<a href="https://www.amazon.com.mx/dp/B08KCTH6T7" target="_blank" class="btn btn-warning btn-lg btn-fill">¡Adquiérelo ya!</a>
									</div>
									<!-- <div class="buttons">
											<button class="btn btn-fill btn-neutral">
											<i class="fa fa-apple"></i> Appstore
											</button>
											<button class="btn btn-simple btn-neutral">
											<i class="fa fa-android"></i>
											</button>
											<button class="btn btn-simple btn-neutral">
											<i class="fa fa-windows"></i>
											</button>
									</div> -->
							</div>
						</div>
				</div>
		</div>
		<div class="section section-gray section-clients">
				<div class="container text-center">
						<h4 class="header-text">¿Qué encontrarás en Emprendedor Audaz?</h4>
						<p>Emprendedor Audaz a través de su lectura te guiará para establecer la base de dónde iniciar tu emprendimiento, tú propio negocio, un viaje con experiencias en todos sentidos y cómo superar los obstáculos que todo emprendedor tiene para después consolidarlo y que al final te darán tu libertad. Te permitirá establecer un mapa de ruta para alcanzar tus metas y objetivos a corto, mediano y largo plazo.</p>
						<p>Hay que recordar que existen múltiples caminos para llegar al mismo destino. La oportunidad la creas en tu mente, la escribes y después la llevas hacia el mundo tangible.</p>
						<p>Todo lo que creas en tu mente, lo puedes lograr.</p>
				</div>
		</div>
		<div class="section section-presentation">
				<div class="container">
						<div class="row">
								<div class="col-sm col-md-6">
										<div class="description pt-0">
											<h4 class="header-text">Amílcar Bravo</h4>
											<p>Ingeniero en Electrónica y Comunicaciones de profesión, Amílcar cuenta con estudios de Maestría en Ciencias Computacionales, así como Maestría en Administración. Ello le ha permitido colaborar en empresas Multinacionales en los rubros de electrónica de consumo y Telecomunicaciones en áreas principalmente Técnicas y de Negocios.<p>
											<p>Adicionalmente, Amílcar es locutor profesional. Actualmente encabeza el programa <b>Cómo Iniciar mi Negocio</b> dónde entrevista a emprendedores y empresarios, todos ellos exitosos en sus ramos.</p>
											<p>Con más de 25 años de experiencia profesional, así su experiencia como emprendedor, inversionista y entrenador, Amílcar ha permitido ayudar a emprendedores y empresarios a desarrollar sus proyectos y potencializarlos.</p>
											<p>Ahora comparte su experiencia como emprendedor a través del libro Emprendedor Audaz, Guía para emprender y alcanzar la Libertad.</p>
										</div>
								</div>
								<div class="col-sm col-md-5 col-md-offset-1 hidden-xs">
										<img src="assets/img/amilcar.jpg"/>
								</div>
						</div>
				</div>
		</div>
		<div class="section section-gray section-demo">
				<div class="container">
						<div class="row">
								<div class="col-sm text-center">
									<h4 class="header-text">Emprendedor Audaz te dará respuestas a inquietudes como:</h4>
									<ul class="list-unstyled">
										<li>¿Por qué emprender?</li>
										<li>¿Por qué quiero ser emprendedor audaz?</li>
										<li>¿Por qué fracasan los negocios en los primeros años?</li>
										<li>¿Qué negocio iniciar?</li>
										<li>¿Debo reacondicionarme para tener mentalidad de empresario? </li>
										<li>¿Quién dijo miedo?</li>
										<li>¿Por dónde inicio?</li>
										<li>¿Qué habilidades debo desarrollar?</li>
										<li>¿Por qué requiero un mapa de ruta?</li>
										<li>¿En qué consiste un plan de negocios?</li>
										<li>¿Qué herramientas utilizo para gestionar mi negocio?</li>
										<li>¿Cómo elijo mi equipo de poder y colaboradores?</li>
										<li>¿Cómo me diferencio de la competencia?</li>
										<li>¿Existen atajos en la ruta hacia los resultados favorables?</li>
										<li>¿Cómo logro el equilibro en la vida como emprendedor?</li>
										<li>¿Ya inicié y ahora cómo crezco mi negocio?</li>
										<li>¿Cómo negoció si me encuentro entre tiburones?</li>
										<li>¿Cómo gestiono mis resultados?</li>
										<li>¿Cuál es mi siguiente paso para ser un emprendedor audaz?</li>
									</ul>
								</div>
						</div>
				</div>
		</div>
		<div class="section section-testimonial">
				<div class="container">
						<h4 class="header-text text-center">Testimonios</h4>
						<div id="carousel-example-generic" class="carousel fade" data-ride="carousel">
								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
										<div class="carousel-item active">
											<div class="container">
												<div class="row">
													<div class="col-sm col-md-6">
														<img src="assets/img/faces/cara4.jpg" class="img-fluid">
													</div>
													<div class="col-sm col-md-6">
														<div class="carousel-testimonial-caption">
																<p>Lauro A. Hernandez G
Empresario, conferencista y cofundador de la incubadora de emprendimiento VISION2010 en evolución.</p>
																<h4>"En esta guía Amílcar, que es un ser humano integro y apasionado del conocimiento, nos expone de una manera global y general todos los aspectos diversos que un emprendedor debe de tener en cuenta. Considero muy útil ya que es como un mapa a seguir de todos los puntos importantes que debemos profundizar y de esta manera aplicar para asegurar éxito en lo que, como lector, deseas en tu vida."</h4>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="carousel-item">
											<div class="container">
												<div class="row">
													<div class="col-sm col-md-6">
														<img src="assets/img/faces/cara2.jpg" class="img-fluid">
													</div>
													<div class="col-sm col-md-6">
														<div class="carousel-testimonial-caption">
																<p>Ph. D. Nora Beltrán R. CEO Nobel Learning  LLC</p>
																<h4>"Una guía contundente, clara, sincera, profunda, completa y efectiva para todos aquellos que tienen el valor, la decisión, el anhelo, el espíritu guerrero y el coraje para emprender audazmente.  Gracias Amílcar por compartir tu conocimiento con tanta responsabilidad y pasión."</h4>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="carousel-item">
											<div class="container">
												<div class="row">
													<div class="col-sm col-md-6">
														<img src="assets/img/faces/cara3.jpg" class="img-fluid">
													</div>
													<div class="col-sm col-md-6 carousel-testimonial-caption">
														<p>Carlos Carrera</p>
														<h4>"La mayoría de las personas nunca emprenderán, pero si decides hacerlo, te recomiendo que seas audaz. Amílcar con este poderoso libro, te llevará a un poderoso despegue, que se traducirá en éxito en tu empresa."</h4>
													</div>
												</div>
											</div>
										</div>
										<div class="carousel-item">
											<div class="container">
												<div class="row">
													<div class="col-sm col-md-6">
														<img src="assets/img/faces/cara1.jpg" class="img-fluid">
													</div>
													<div class="col-sm col-md-6 carousel-testimonial-caption">
														<p>Darío Espinoza Bajista fundador de Panteón Rococó</p>
														<h4>"Planear e iniciar una empresa puede generarnos miedos que incluso nos hacen desistir de nuestros más anhelados proyectos. Siempre es bueno tener a la mano un libro como <b>Emprendedor Audaz</b> que nos dé un “empujón” de confianza con buenas y bien informadas recomendaciones para Emprender y buscar la Libertad. "</h4>
													</div>
												</div>
											</div>
										</div>
								</div>
								<ol class="carousel-indicators carousel-indicators-blue">
										<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
										<li data-target="#carousel-example-generic" data-slide-to="1"></li>
										<li data-target="#carousel-example-generic" data-slide-to="2"></li>
										<li data-target="#carousel-example-generic" data-slide-to="3"></li>
								</ol>
						</div>
				</div>
		</div>
		<div class="section section-no-padding">
				<div class="parallax filter-gradient gray">
						<div class="parallax-background">
								<img class ="parallax-background-image" src="assets/img/template/bg3.jpg"/>
						</div>
						<div class="info">
								<h1>Emprendedor Audaz</h1>
								<p>Adquiere a partir del 29 de septiembre el libro EMPRENDEDOR AUDAZ a través de Amazon México. </p><p>¡¡Precio preferencial y de lanzamiento por tiempo limitado!!</p>
								<a href="https://www.amazon.com.mx/dp/B08KCTH6T7" target="_blank" class="btn btn-warning btn-lg btn-fill">¡Adquiérelo ya!</a>
						</div>
				</div>
		</div>
</div>
