<div class="container">
	<div class="row">
		<div class="col mx-auto">
			<nav class="navbar navbar-expand-lg navbar-light p-0" style="background:white;">
				<div class="container">
					<div class="navbar-wrapper">
						<a class="navbar-brand p-0" href="/#/home"><img src="assets/img/cimn-png.png" alt="Cómo iniciar mi negocio" width="50px;"></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
						<ul class="navbar-nav float-right">
							<li class="nav-item">
								<a class="nav-link" href="#">Servicios</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Recursos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Contacto</a>
							</li>
						</ul>
					</div>
				</div>


			</nav>
		</div>
	</div>
</div>
