<blogs-main-navbar></blogs-main-navbar>
<section class="pt-0 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<h1 class="mt-0 mb-0">Blogs</h1>
			</div>
			<div class="col-xs-12 col-md-4 text-right">
				<button
					class="btn btn-primary"
					(click)="newBlog();"
					>Crear</button>
			</div>
		</div>
		<div class="row">
			<div class="col"><hr></div>
		</div>
		<div class="row mb-1" *ngFor="let blog of blogs">
			<div class="col-sm col-md-3 p-0">
				<img [src]='"https://source.unsplash.com/" + blog.photo + "/243x162"' class="img-fluid" *ngIf="blog.photo">
			</div>
			<div class="col">
				<p class="mb-0"><small class="text-muted">{{blog.logInfo.createdBy.firstName}} {{blog.logInfo.createdBy.lastName}} - <b>{{blog.logInfo.createdAt | dateAgo }}</b></small> </p>
				<p class="mb-0"><b>{{blog.title}}</b></p>
				<p class="text-muted mb-0">{{blog.description}}</p>
				<p
					class="pointme"
					(click)="copyMessage(preurl + '/' + blog._id);"
					data-toggle="tooltip"
					data-placement="top"
					title="Da clic para copiar"
				><small class="text-primary">{{preurl}}/{{blog._id}}</small></p>
				<span *ngIf="blog.draft" class="fa-stack" style="vertical-align: top;">
					<i class="far fa-circle fa-stack-2x"></i>
					<i class="far fa-signal-stream fa-stack-1x" title="Sin publicar"></i>
				</span>
				<span *ngIf="!blog.draft" class="fa-stack" style="vertical-align: top;">
					<i class="far fa-circle fa-stack-2x text-success"></i>
					<i class="far fa-signal-stream fa-stack-1x" title="Publicado"></i>
				</span>
				<span *ngIf="blog.public" class="fa-stack" style="vertical-align: top;">
					<i class="far fa-circle fa-stack-2x text-success"></i>
					<i class="far fa-users fa-stack-1x" title="Visible al publico en general"></i>
				</span>
				<span *ngIf="!blog.public" class="fa-stack" style="vertical-align: top;">
					<i class="far fa-circle fa-stack-2x"></i>
					<i class="far fa-users fa-stack-1x" title="Visible solo a registrados"></i>
				</span>
				<span *ngIf="blog.hide && !blog.draft" class="fa-stack" style="vertical-align: top;">
					<i class="far fa-circle fa-stack-2x"></i>
					<i class="far fa-eye-slash fa-stack-1x" title="Nadie puede ver este artículo"></i>
				</span>
				<span *ngIf="!blog.hide && !blog.draft" class="fa-stack" style="vertical-align: top;">
					<i class="far fa-circle fa-stack-2x text-success"></i>
					<i class="far fa-eye fa-stack-1x" title="Artículo visible"></i>
				</span>
				<span *ngIf="blog.main" class="fa-stack" style="vertical-align: top;">
					<i class="far fa-circle fa-stack-2x text-success"></i>
					<i class="far fa-home fa-stack-1x" title="Visible en la página principal"></i>
				</span>
				<span *ngIf="!blog.main" class="fa-stack" style="vertical-align: top;">
					<i class="far fa-circle fa-stack-2x"></i>
					<i class="far fa-home fa-stack-1x" title="Visible en la sección de blogs"></i>
				</span>
			</div>
			<div class="col-auto">
				<a class="pointme" (click)="viewBlog(blog._id);"><i class="fas fa-eye text-primary"></i></a>
			</div>
			<div class="col-auto">
				<a class="pointme" (click)="editBlog(blog._id);"><i class="fas fa-pencil-alt text-success"></i></a>
			</div>
		</div>
	</div>
</section>
