<div class="wrapper">
	<div class="section section-gray text-center">
		<img src="assets/img/cimn-png.png" alt="Cómo iniciar mi negocio" width="150">
		<h1 style="color=blue">Potencia tus finanzas en 2021</h1>
		<div class="row justify-content-center">
			<div class="col-sm col-md-9">
				<div class="video-container">
					<iframe
						[src]="video | safe"
						frameborder="0"
						allow="autoplay; encrypted-media"
						width="640"
						allowfullscreen
					></iframe>
				</div>
			</div>
		</div>
	</div>
	<div class="section section-presentation text-center text-primary">
		<h4 class="m-1">Gracias por inscribirte al seminario gratuito en línea de 4 sesiones donde encontrarás:</h4>
		<br />
		<p style="color:black"><b>Errores Financieros más comunes</b> Viernes 6 de Noviembre</p>
		<p style="color:black"><b>Tus creencias respecto al dinero</b></p>
		<p style="color:black"><b>Cómo administrar tu dinero</b> Lunes 9 de Noviembre</p>
		<p style="color:black"><b>¿Es momento de ahorrar o invertir?</b> Miércoles 11 de Noviembre</p>
		<p style="color:black"><b>Principios para Potenciar tu Dinero</b> Viernes 13 de Noviembre</p>
		<p style="color:black"><b>Y muchas cosas más...</b></p>
		<div class="container text-center">
			<p style="color:black"><b>Estarás recibiendo por correo tu acceso para ingresar a las sesiones</b></p>
		</div>
		<div class="container text-center">
			<p style="color:black">Descarga gratuitamente:</p>
			<div class="btn-group">
				<a class="btn btn-danger" href="https://www.dropbox.com/s/p8v5h3jm4v3ob1b/Formato%20Presupuesto%20Mensual%20CIMN_2020.pdf?dl=1">Formato de presupuesto mensual</a>
				<a class="btn btn-danger" href="https://www.dropbox.com/s/1mdpagm1kwtdxyr/5%20Tips%20para%20tus%20Finanzas%20Personales.pdf?dl=1">5 tips para tus finanzas personales</a>
			</div>
		</div>
	</div>
</div>
