<app-navbar id="navbar"></app-navbar>
<div class="wrapper">
	<div class="section section-gray p-2">
		<div class="container">
			<b>Potencia tus finanzas en el 2021</b> - Webinar gratuito - Próximo 6 de Noviembre <a href="/#/comoingresos" class="btn btn-danger">¡Regístrate ahora!</a>
		</div>
	</div>
	<div class="parallax filter-gradient blue" data-color="blue">
			<div class="parallax-background">
					<img class="parallax-background-image" src="assets/img/template/bg3.jpg">
			</div>
			<div class= "container">
					<div class="row">
							<div class="col-md-6 hidden-xs">
									<div class="parallax-image m-3 mt-5">
										<img class="pointme" src="assets/img/AmilcarLibro.png" style="margin-top: 20px" width="200px" (click)="goEmpAudaz();">
									</div>
							</div>
							<div class="col-md-6">
									<div class="description m-3 mt-5">
										<br />
										<h5>Te comparto con gran satisfacción y orgullo el lanzamiento de mi primer libro:</h5><h2>Emprendedor Audaz</h2><h5>para emprender y alcanzar la libertad.</h5>
										<a href="https://www.amazon.com.mx/dp/B08KCTH6T7" target="_blank" class="btn btn-warning btn-lg btn-fill">¡Adquiérelo ya!</a>
									</div>
									<!-- <div class="buttons">
											<button class="btn btn-fill btn-neutral">
											<i class="fa fa-apple"></i> Appstore
											</button>
											<button class="btn btn-simple btn-neutral">
											<i class="fa fa-android"></i>
											</button>
											<button class="btn btn-simple btn-neutral">
											<i class="fa fa-windows"></i>
											</button>
									</div> -->
							</div>
					</div>
			</div>
	</div>
	<div class="section section-gray section-clients">
			<div class="container text-center">
					<h4 class="header-text">¿Emprender es una alternativa?</h4>
					<h4 class="header-text">¿Qué se requiere para emprender?</h4>
					<h4 class="header-text">¿Cuándo es bueno emprender?</h4>
					<p>Para iniciar un Negocio se requiere preparación y tener aliados que te permitan alcanzar metas de manera continua. En <b>Cómo Iniciar mi Negocio</b> nos convertimos en tus aliados para impulsar ese concepto o idea para que lo aterrices, de tal manera que lo puedas implementar para ir creciendo, teniendo un negocio rentable y escalable.</p>
					<p>Ya tengo un negocio ¿Cómo lo llevo al siguiente nivel? ¿Cómo lo sistematizo y automatizo?</p>
					<p><b>Cómo Iniciar mi Negocio</b> cuenta con expertos y aliados estratégicos que evaluarán tu negocio para diagnosticar la situación actual de tu negocio permitiendo dar alternativas de solución viables para llevarlo al siguiente nivel, haciéndolo rentable y escalable.</p>
					<!-- <div class="logos">
							<ul class="list-unstyled">
									<li ><img src="assets/img/logos/adobe.png"/></li>
									<li ><img src="assets/img/logos/ebay.png"/></li>
									<li ><img src="assets/img/logos/evernote.png"/></li>
									<li ><img src="assets/img/logos/airbnb.png"/></li>
									<li ><img src="assets/img/logos/zappos.png"/></li>
							</ul>
					</div> -->
			</div>
	</div>
	<div class="section section-presentation">
			<div class="container">
					<div class="row">
							<div class="col-sm col-md-6">
									<div class="description pt-0">
											<h4 class="header-text">Amílcar Bravo</h4>
											<p>Ingeniero en Electrónica y Comunicaciones de profesión, Amílcar cuenta con estudios de Maestría en Ciencias Computacionales, así como Maestría en Administración. Ello le ha permitido colaborar en empresas Multinacionales en los rubros de electrónica de consumo y Telecomunicaciones en áreas principalmente Técnicas y de Negocios.<p>
											<p>Adicionalmente, Amílcar es locutor profesional. Actualmente encabeza el programa <b>Cómo Iniciar mi Negocio</b> dónde entrevista a emprendedores y empresarios, todos ellos exitosos en sus ramos.</p>
											<p>Con más de 25 años de experiencia profesional, así su experiencia como emprendedor, inversionista y entrenador, Amílcar ha permitido ayudar a emprendedores y empresarios a desarrollar sus proyectos y potencializarlos.</p>
											<!-- <a href="#" class="btn btn-primary btn-lg btn-fill">Conoce más de Amílcar Bravo</a> -->
									</div>
							</div>
							<div class="col-sm col-md-5 col-md-offset-1 hidden-xs">
									<img src="assets/img/amilcar.jpg"/>
							</div>
					</div>
			</div>
	</div>
	<div class="section section-gray section-demo">
			<div class="container">
					<div class="row">
							<div class="col text-center">
									<h4 class="header-text">Cómo iniciar mi negocio</h4>
									<p><b>Cómo Iniciar mi Negocio</b> te ayuda a través de nuestros servicios de Entrenamiento, Consultoría y Mentoría a alcanzar tus metas como emprendedor y empresario.</p><p>Nuestros servicios actualmente son virtuales para tu tranquilidad, pensando en tu bienestar, en el de los tuyos y tus colaboradores.</p>
							</div>
					</div>
			</div>
	</div>
	<div class="section section-features">
			<div class="container">
					<h4 class="header-text text-center" id="Servicios">Servicios</h4>
					<div class="row">
							<div class="col-md-4">
									<div class="card card-blue">
											<div class="icon mt-3">
												<i class="fad fa-chalkboard-teacher fa-3x" style="--fa-primary-color: blue; --fa-secondary-color: black;"></i>
											</div>
											<div class="text">
													<h4>Entrenamiento</h4>
													<p>Realizamos entrenamientos periódicamente que te ayudan a potenciar tus habilidades en las áreas de negocios, inversiones, gestión de negocio, ventas y mercadotecnia. Todos con un enfoque práctico y muy dinámico.</p>
											</div>
									</div>
							</div>
							<div class="col-md-4">
									<div class="card card-blue">
											<div class="icon mt-3">
													<i class="fad fa-user-graduate fa-3x" style="--fa-primary-color: blue; --fa-secondary-color: black;"></i>
											</div>
											<h4>Mentoría</h4>
											<p>Con grupos reducidos llevamos a cabo programas donde te mostramos, ayudados de una plataforma y sesiones grupales,  guías para impulsar tus proyectos.</p>
									</div>
							</div>
							<div class="col-md-4">
									<div class="card card-blue">
											<div class="icon mt-3">
												<i class="fad fa-user-chart fa-3x" style="--fa-primary-color: blue; --fa-secondary-color: black;"></i>
											</div>
											<h4>Consultoría</h4>
											<p>Dirigido principalmente a aquellos que desean una atención personalizada sobre su proyecto, negocio o inversión.  Evaluación y propuesta a tu medida.</p>
									</div>
							</div>
					</div>
			</div>
	</div>
	<div class="section section-testimonial">
			<div class="container">
				<h4 class="header-text text-center">Testimonios</h4>
				<div class="row">
					<div class="col-sm col-md-9">
						<video width="640" poster="assets/video/alejandraGarcia.jpg" controls>
							<source src="assets/video/testimonio-alejandra-garcia.mp4" type="video/mp4">
							<p>Este video no está soportado en tu dispositivo</p>
						</video>
					</div>
					<div class="col-sm col-md-3">
						<div class="carousel-testimonial-caption">
								<p>Alejandra García. Participante del seminario "Inversiones Inteligentes"</p>
								<h4>“Recomiendo el seminario porque brinda información concreta, sobre una secuencia lógica.”</h4>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm col-md-9">
						<video width="640" poster="assets/video/rosaMariaCortez.jpg" controls>
							<source src="assets/video/testimonio-rosa-maria-cortez.mp4" type="video/mp4">
							<p>Este video no está soportado en tu dispositivo</p>
						</video>
					</div>
					<div class="col-sm col-md-3">
						<div class="carousel-testimonial-caption">
								<p>Rosa María Cortez. Participante del seminario "Inversiones Inteligentes"</p>
								<h4>"Lo recomiendo ampliamente porque observe diversos medios de inversión que desconocía."</h4>
						</div>
					</div>
				</div>
			</div>
	</div>
	<div class="section section-no-padding">
			<div class="parallax filter-gradient orange">
					<div class="parallax-background">
							<img class ="parallax-background-image" src="assets/img/template/bg3.jpg"/>
					</div>
					<div class="info">
							<h1>Emprendedor Audaz</h1>
							<p>Adquiere a partir del 29 de septiembre el libro EMPRENDEDOR AUDAZ a través de Amazon México. </p><p>¡¡Precio preferencial y de lanzamiento por tiempo limitado!!</p>
							<a href="https://www.amazon.com.mx/dp/B08KCTH6T7" target="_blank" class="btn btn-warning btn-lg btn-fill">¡Adquiérelo ya!</a>
					</div>
			</div>
	</div>
	<app-footer></app-footer>
</div>
