<app-navbar id="navbar"></app-navbar>
<section class="pt-0 pb-5">
	<div class="container">
		<div class="row align-items-center justify-content-between">
			<div class="col-12 col-md-5  ">
				<img src="assets/img/cimn-png.png" alt="Cómo iniciar mi negocio" class="img-fluid">

			</div>
			<div class="col-12 col-md-6 mt-4 mt-md-0">
				<h2 class="mb-4">Emprendedor Audaz   </h2>
				<p class="text-h3">Te comparto con gran satisfacción y orgullo el lanzamiento de mi primer libro:</p>
				<img src="assets/img/AmilcarLibro.png" alt="Emprendedor Audaz">
				<p>
					<a class="btn btn-success mt-3 mb-3" href="#">Adquierelo ahora!</a>
				</p>
			</div>
		</div>
	</div>
</section>
<section class="pb-5 pt-5 mb-0">
	<div class="container">
		<div class="row mt-0    d-flex justify-content-center align-items-center text-center">
			<div class="col-12 col-md-9 text-center">
				<h4 class="header-text">¿Emprender es una alternativa?</h4>
				<h4 class="header-text">¿Qué se requiere para emprender?</h4>
				<h4 class="header-text">¿Cuándo es bueno emprender?</h4>
				<p>Para iniciar un Negocio se requiere preparación y tener aliados que te permitan alcanzar metas de manera continua. En <b>Cómo Iniciar mi Negocio</b> nos convertimos en tus aliados para impulsar ese concepto o idea para que lo aterrices, de tal manera que lo puedas implementar para ir creciendo, teniendo un negocio rentable y escalable.</p>
				<p>Ya tengo un negocio ¿Cómo lo llevo al siguiente nivel? ¿Cómo lo sistematizo y automatizo?</p>
				<p><b>Cómo Iniciar mi Negocio</b> cuenta con expertos y aliados estratégicos que evaluarán tu negocio para diagnosticar la situación actual de tu negocio permitiendo dar alternativas de solución viables para llevarlo al siguiente nivel, haciéndolo rentable y escalable.</p>
			</div>
		</div>
	</div>
</section>
<section class="pt-5 pb-5">
	<div class="container">
		<div class="row text-right align-items-center">
			<div class="col-12 col-lg-6 col-xl-5 m-lg-auto text-left">
				<h3 class="  mb-4">Amílcar Bravo</h3>
				<div class="row pt-4">
					<div class="col-3">
						<div class=" rounded-circle justify-center border border-light d-inline-block p-4 mb-4">
							<em class="far fa-2x fa-gem text-success "></em>
						</div>
					</div>
					<div class="col-9">
						<p class="text-justify">Ingeniero en Electrónica y Comunicaciones de profesión, Amílcar cuenta con estudios de Maestría en Ciencias Computacionales, así como Maestría en Administración. Ello le ha permitido colaborar en empresas Multinacionales en los rubros de electrónica de consumo y Telecomunicaciones en áreas principalmente Técnicas y de Negocios.</p>
					</div>
				</div>
				<div class="row pt-4">
					<div class="col-9 text-right">
						<p class="text-justify">Amílcar es locutor profesional. Actualmente encabeza el programa <b>Cómo Iniciar mi Negocio</b> dónde entrevista a emprendedores y empresarios, todos ellos exitosos en sus ramos.</p>
					</div>
					<div class="col-3">
						<div class=" rounded-circle justify-center border border-light d-inline-block p-4 mb-4">
							<em class="far fa-2x fa-gem text-success "></em>
						</div>
					</div>
				</div>
				<div class="row pt-4">
					<div class="col-3">
						<div class=" rounded-circle justify-center border border-light d-inline-block p-4 mb-4">
							<em class="far fa-2x fa-gem text-success "></em>
						</div>
					</div>
					<div class="col-9">
						<p>Con más de 25 años de experiencia profesional, así su experiencia como emprendedor, inversionista y entrenador, Amílcar ha permitido ayudar a emprendedores y empresarios a desarrollar sus proyectos y potencializarlos.</p>
					</div>
				</div>
			</div>
			<div class="col-7 col-sm-4 m-auto pt-5 pt-md-0">
				<img alt="image" class="img-fluid br-b-0 d-sm-none d-md-block d-lg-block" src="assets/img/amilcar.jpg">
			</div>
		</div>
	</div>
</section>
<section class="bg-light pt-5 pb-5">
	<div class="container">
			<div class="row">
					<div class="col text-center">
							<h4 class="header-text">Cómo iniciar mi negocio</h4>
							<p><b>Cómo Iniciar mi Negocio</b> te ayuda a través de nuestros servicios de Entrenamiento, Consultoría y Mentoría a alcanzar tus metas como emprendedor y empresario.</p><p>Nuestros servicios actualmente son virtuales para tu tranquilidad, pensando en tu bienestar, en el de los tuyos y el de tus colaboradores.</p>
					</div>
			</div>
	</div>
</section>
<section class="pt-5 pb-5">
	<div class="container">
		<h4 class="header-text text-center" id="Servicios">Servicios</h4>
		<div class="row d-flex">
			<div class="col-md-4 mb-4 ">
				<div class="card card-body shadow text-center h-100">
					<i class="fad fa-chalkboard-teacher fa-3x" aria-hidden="true" style="--fa-primary-color: green; --fa-secondary-color: black;"></i>
					<div class="title">
						<h3>Entrenamiento</h3>
					</div>
					<div class="text">
						<p>Realizamos entrenamientos periódicamente que te ayudan a potenciar tus habilidades en las áreas de negocios, inversiones, gestión de negocio, ventas y mercadotecnia. Todos con un enfoque práctico y muy dinámico.</p>
					</div>
					<!-- <a href="#" class="text-success">Learn More</a> -->
				</div>
			</div>
			<div class="col-md-4 mb-4 ">
				<div class="card card-body shadow text-center h-100">
					<i class="fad fa-user-graduate fa-3x" aria-hidden="true" style="--fa-primary-color: green; --fa-secondary-color: black;"></i>
					<div class="title">
						<h3>Mentoría</h3>
					</div>
					<div class="text">
						<p>Con grupos reducidos llevamos a cabo programas donde te mostramos, ayudados de una plataforma y sesiones grupales,  guías para impulsar tus proyectos.</p>
					</div>
					<!-- <a href="#" class="text-success">Learn More</a> -->
				</div>
			</div>
			<div class="col-md-4 mb-4 ">
				<div class="card card-body shadow text-center h-100">
					<i class="fad fa-user-chart fa-3x" style="--fa-primary-color: green; --fa-secondary-color: black;"></i>
					<div class="title">
						<h3>Consultoría</h3>
					</div>
					<div class="text">
						<p>Dirigido principalmente a aquellos que desean una atención personalizada sobre su proyecto, negocio o inversión.  Evaluación y propuesta a tu medida.</p>
					</div>
					<!-- <a href="#" class="text-success">Learn More</a> -->
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pt-5 pb-5">
	<h4 class="header-text text-center">Testimonios</h4>
	<div class="container">
		<div class="row align-items-center justify-content-between ">
			<div class="col-12 col-md-7   mt-4 mt-md-0">
				<div class="embed-responsive embed-responsive-16by9 shadow-lg">
					<video width="640" poster="assets/video/alejandraGarcia.jpg" controls>
						<source src="assets/video/testimonio-alejandra-garcia.mp4" type="video/mp4">
						<p>Este video no está soportado en tu dispositivo</p>
					</video>
				</div>
			</div>
			<div class="col-12 col-md-4 ">
				<h1 class="mb-3 mt-5">Alejandra García</h1>
				<p class="lead  ">“Recomiendo el seminario porque brinda información concreta, sobre una secuencia lógica.”</p>
				<!-- <div class="  d-flex mt-3 mb-1">
					<a class="btn btn-success btn-raised    mt-md-3 " href="#" role="button">Download Now</a>
					<a class="btn btn-outline-secondary  mt-md-3 ml-md-3" href="#" role="button">Learn more now</a>
				</div> -->
			</div>
		</div>
	</div>
</section>
<section class="pt-5 pb-5">
	<div class="container">
		<div class="row align-items-center justify-content-between ">
			<div class="col-12 col-md-4 ">
				<h1 class="mb-3 mt-5">Rosa María Cortez</h1>
				<p class="lead  ">"Lo recomiendo ampliamente porque observe diversos medios de inversión que desconocía."</p>
				<!-- <div class="  d-flex mt-3 mb-1">
					<a class="btn btn-success btn-raised    mt-md-3 " href="#" role="button">Download Now</a>
					<a class="btn btn-outline-secondary  mt-md-3 ml-md-3" href="#" role="button">Learn more now</a>
				</div> -->
			</div>
			<div class="col-12 col-md-7   mt-4 mt-md-0">
				<div class="embed-responsive embed-responsive-16by9 shadow-lg">
					<video width="640" poster="assets/video/rosaMariaCortez.jpg" controls>
						<source src="assets/video/testimonio-rosa-maria-cortez.mp4" type="video/mp4">
						<p>Este video no está soportado en tu dispositivo</p>
					</video>
				</div>
			</div>
		</div>
	</div>
</section>
<app-footer></app-footer>
