<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark" style="min-height: 100vh; background-size: cover; background-image: url('https://source.unsplash.com/iISyBKOT2D0/1920x1332');">
	<div class="container ">
		<div class="row">
			<div class="col-12 col-md-6 pb-5 order-2 order-sm-2">
				<h1 class="text-white font-weight-bold mb-3 mt-5 display-3">Lo sentimos</h1>
				<p class="lead text-white">La página que buscas no existe en este sitio.</p>
				<div class="d-flex mt-3 mb-1">
				</div>
			</div>
			<div class="col-12 col-md-6 order-sm-1 order-md-2  ">
				<div class="icon-wrap text-primary d-flex justify-content-md-center my-3">

				</div>
			</div>
		</div>
	</div>
</section>
