<div *ngIf="!loading && blogs.length === 0">
	<h1>No hay artículos por el momento</h1>
</div>
<div *ngIf="!loading && blogs.length > 0">
	<div *ngFor="let groupOfBlogs of blogs">
		<section class="pt-5 pb-5">
			<blog-main-card
				*ngIf="groupOfBlogs[0] && groupOfBlogs[0].title"
				[blog]="groupOfBlogs[0]"
			></blog-main-card>
		</section>
		<section class="pt-5 pb-5" *ngIf="groupOfBlogs.length > 1">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-sm-6 mb-4">
						<blog-card
							*ngIf="groupOfBlogs[1] && groupOfBlogs[1].title"
							[blog]="groupOfBlogs[1]"
						></blog-card>
					</div>
					<div class="col-lg-6 col-sm-6 mb-4">
						<blog-card
							*ngIf="groupOfBlogs[2] && groupOfBlogs[2].title"
							[blog]="groupOfBlogs[2]"
						></blog-card>
					</div>
					<div class="col-lg-6 col-sm-6 mb-4">
						<blog-card
							*ngIf="groupOfBlogs[3] && groupOfBlogs[3].title"
							[blog]="groupOfBlogs[3]"
						></blog-card>
					</div>
					<div class="col-lg-6 col-sm-6 mb-4">
						<blog-card
							*ngIf="groupOfBlogs[4] && groupOfBlogs[4].title"
							[blog]="groupOfBlogs[4]"
						></blog-card>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
